.chip {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#chip1 { background-color: #ff5c77; }
#chip2 { background-color: #0fff83; }
#chip3 { background-color: #66ffff; }
#chip4 { background-color: #ba66ff; }
#chip5 { background-color: #ffc766; }

body {
    background-color: #262c2f;
    user-select: none;
    margin: 0;
    overflow: hidden;
}

.text0 {
    color: white;
    font-size: 1.3vw !important;
}
    .avatar-frame {
            width: 6vw;
            height: 6vw;
            border: 2px solid #ccc; /* Border color */
            border-radius: 50%; /* Makes it circular */
            overflow: hidden; /* Hides overflow content (if any) */
            pointer-events: none;
        }

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
}


  .game-field {
      position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 7vw repeat(9, 4vw) 7vw;
    grid-template-rows: 7vw repeat(9, 4vw) 7vw;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
      flex-direction: column;
    grid-column: 2/11;
    grid-row: 2/11;
    background-color: #262c2f;
      position: relative;
  }

  .modal-btn {
        padding: 1vw 2vw;
      font-size: 2vw;
      color: #fff; /* Белый текст */
      background: linear-gradient(to right, #8e0000, #00224d);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      /* transition: background 0.3s ease; */
  }

  .modal-btn:hover {
       background: linear-gradient(to right, #00224d, #8e0000);
  }

  .win-model-description {
      color: white;
      font-size: 20px;
  }

  .oval {
    width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  position: absolute;
      transform: translate(20%, 20%) rotate(0deg);
      opacity: 0.8;
}


.number {
  font-weight: bold;
}

  .chat {
       overflow-y: auto;
      width: 28vw;
      font-size: 1.4vw;
      padding: 2vw;
      color: white;
      scroll-behavior: smooth;
  }

  .div1 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #000;
  }

  .container {
    display: flex;
    height: 100vh;
    margin: 0;
      padding-top: 1.3vw;
  }

  .container-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 100%;
  }

  .players {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  .player {
    background-color: grey;
    width: 14vw;
    height: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

  }
.player-popup{
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

.player-popup-btn{
    width: 100%;
    background-color: white;
    border:none;
     display:none;
}

.player-username{
    font-size: 1.5vw;
    color: white;
    margin-bottom: 1vw;
}

.player-money{
    font-size: 1.5vw;
    color: white;
}

  .buttons {
      display: flex;
      margin-bottom: 30px;
  }

  .deal {
      background-color: black;
  }

  .Deal{
      background-color: white;
  }

  #deal {
      height: 93%;
  }

  .dice {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}


#rollButton {
    width: 15vw;
    font-size: 1.4vw;
    margin-bottom: 1vw;
}

@keyframes roll {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

.roll-animation {
    animation: roll 1s ease-out;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 18%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.modal-content {
    background-color:  #262c2f;;
    padding: 2vw 0;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    text-align: center;
}

#winModel {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.97;
}

.win-model-title {
    color:white;
    font-size: 50px;
}

.deal-container{
    display: flex;
    justify-content: space-between;
}

.deal-content{
    text-align: center;
}

.deal-text {
    display: flex;
    flex-direction: column;
}

.deal-avatar{
    width: 30px;
    height: 30px;
}

.deal-money{
    display: flex;
    justify-content: space-around;
}

.deal-cash {
    width: 40px;
    height: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.element {
    height: 98%;
    width: 98%;
    position: relative;
    background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.TableFieldcard-data-rows{
    margin-top: 1vw;
}

.TableFieldcard-top{
    padding: 1vw 1.5vw;
    background-color: pink;
    text-align: center;
    border-radius: 5px;
}

._bg{
    padding: 10px;
}

.popup {
    box-shadow: #000 0 0 2.5vw;
    font-size: 1.2vw;
    height: 28vw;
    width: 20vw;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
    top: 100%; /* Располагаем окно над элементом */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.popup.active {
    display: block;
}



.price {
    display: flex;
    width: 4vw;
    height: 1.3vw;

    position: absolute;
    top: -18.5%;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: #000;
}

.price-left {
    transform: rotate(270deg);
    left: -38%;
    top: 32%;
    width: 4vw;
}

.price-right {
    transform: rotate(90deg);
    right: -38%;
    top: 32%;
    width: 4vw;
}

.price-bottom {
    top: 100%;
}

.white{
    background-color: black;
}

.dices-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.star {
    font-size: 2em; /* Устанавливаем размер звезды */
    color: gold;   /* Устанавливаем цвет звезды */
}

.company-img {
    transform: rotate(90deg);
}

/*.cell-img {*/
/*    background-size: 140px 70px;*/
/*}*/

/*.cell-img-rotate{*/
/*    background-size: 70px 140px;*/
/*}*/

.rotate {
    transform: rotate(90deg);
}

#dice {
    width: 8vw;
    height: 8vw;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-out;
}

#dice:hover {
  cursor: pointer;
}

.sides{
    background-color: #EFE5DC;
    display: block;
    position: absolute;
    width: 8vw;
    height: 8vw;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}

.dot {
    display: block;
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}

.popup-wrapper {
    display: flex;
    justify-content: space-between;
}

.menu {
    text-align: center;
}

#casino {
    height: 100%;
}

#deal-suggest {
    height: 100%;
}


.side-1 .dot-1 { top: 50%; left: 50%; }

.side-2 .dot-1 { top: 25%; left: 25%; }
.side-2 .dot-2 { top: 75%; left: 75%; }

.side-3 .dot-1 { top: 25%; left: 25%; }
.side-3 .dot-2 { top: 75%; left: 75%; }
.side-3 .dot-3 { top: 50%; left: 50%; }

.side-4 .dot-1 { top: 25%; left: 25%; }
.side-4 .dot-2 { top: 25%; left: 75%; }
.side-4 .dot-3 { top: 75%; left: 25%; }
.side-4 .dot-4 { top: 75%; left: 75%; }

.side-5 .dot-1 { top: 25%; left: 25%; }
.side-5 .dot-2 { top: 25%; left: 75%; }
.side-5 .dot-3 { top: 75%; left: 25%; }
.side-5 .dot-4 { top: 75%; left: 75%; }
.side-5 .dot-5 { top: 50%; left: 50%; }

.side-6 .dot-1 { top: 25%; left: 25%; }
.side-6 .dot-2 { top: 25%; left: 75%; }
.side-6 .dot-3 { top: 75%; left: 25%; }
.side-6 .dot-4 { top: 75%; left: 75%; }
.side-6 .dot-5 { top: 50%; left: 25%; }
.side-6 .dot-6 { top: 50%; left: 75%; }

#dice .side-1 {
  transform: translateZ(45px);
}
#dice .side-2 {
  transform: rotateX(-180deg) translateZ(45px);
}
#dice .side-3 {
  transform: rotateY(90deg) translateZ(45px);
}
#dice .side-4 {
  transform: rotateY(-90deg) translateZ(45px);
}
#dice .side-5 {
  transform: rotateX(90deg) translateZ(45px);
}
#dice .side-6 {
  transform: rotateX(-90deg) translateZ(45px);
}

#dice[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
#dice[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
#dice[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
#dice[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

#dice[data-side="1"].reRoll {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="2"].reRoll {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#dice[data-side="3"].reRoll {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
#dice[data-side="4"].reRoll {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
#dice[data-side="5"].reRoll {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="6"].reRoll {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

#gameTime{
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2vw;
    color: white;
}

._star_small::before{
    content: '★';
    color: #656d78;
}

._star_big::before{
    content: '★';
    color: #f6bb43;
    font-size: 18px;
}

#diceResult{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #EE4E34;
	color: white;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#diceResult.hide{
	opacity: 0;
}

#diceResult.reveal{
	animation: fadeUp 0.3s forwards;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		bottom: 0;
	}

	100% {
		opacity: 1;
		bottom: 20px;
	}
}

#player0{
    background-color: #ff5c77;
}

#player1{
    background-color: #0fff83;
}

#player2{
    background-color: #66ffff;
}

#player3{
    background-color: #ba66ff;
}

#player4{
    background-color: #ffc766;
}

input:focus {
  border: none;
    outline: none/* Убираем границу при фокусировке */
  /* Дополнительные стили, если необходимо */
}

.chat-input {
    width: 28vw;
    background-color: #262c2f;
    color: white;
    font-size: 1.5vw;
    border: none;
    margin-top: auto;
    padding: 2vw;
    overflow: auto;
}

.popup-buttons {
    display: flex;
    flex-direction: column;
}

.popup-button {
    text-decoration: none;
    padding: 0;
    background-color: gray;
    border: none;
    display: none;
}

.cell-stars{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    pointer-events: none;
}

.cell-star{
    display:none;
}
